API Reference
=============

.. toctree::
		:maxdepth: 1
		:caption: Class reference
		:name: toc-class-ref

{% for class in classes %}{% if not class.is_special %}
		{{ class.id }}{% endif %}{% endfor %}
